In [1]:
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func, distinct # library to use aggregate functions
from sqlalchemy.sql import operators

In [19]:
file = "~/Desktop/homework/Project2/rawdata/trafficviolation.csv"

csv = pd.read_csv(file)
df = pd.DataFrame(csv)
df.head()

,Year,Qtr,Month,SubAgency,PoliceDistrictID,ViolationType,ViolationCategory,VehicleGroup,PersonalInjury,PropertyDamage,Fatal,ContributedToAccident,ViolationCount
0,2012,1,1,"1st district, Rockville",1,Citation,Distraction,Automobile,0,0,0,0,5
1,2012,1,1,"1st district, Rockville",1,Citation,Distraction,Truck,0,0,0,0,1
2,2012,1,1,"1st district, Rockville",1,Citation,Impaired,Automobile,1,0,0,4,33
3,2012,1,1,"1st district, Rockville",1,Citation,Offense,Automobile,1,0,0,1,140
4,2012,1,1,"1st district, Rockville",1,Citation,Offense,Motorcyle,0,0,0,0,1

In [ ]:
totals = [i+j+k for i,j,k in zip(df['greenBars'], df['orangeBars'], df['blueBars'])]
greenBars = [i / j * 100 for i,j in zip(df['greenBars'], totals)]
orangeBars = [i / j * 100 for i,j in zip(df['orangeBars'], totals)]
blueBars = [i / j * 100 for i,j in zip(df['blueBars'], totals)]