In [1]:
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func, distinct # library to use aggregate functions
from sqlalchemy.sql import operators

In [2]:
# Declare global variables
dbPath = "trafficViolations/static/db"

dbName = "trafficViolations.sqlite"

In [3]:
# create the connection to SQLite db
eng = create_engine(f"sqlite:///{dbPath}/{dbName}")

In [4]:
# reflect an existing database into a new model
Base  = automap_base()

#prepare and reflect all tables wih data
Base.prepare(eng, reflect = True)

In [5]:
print(Base.classes.keys())

['traffic_violations']

In [6]:
V = Base.classes['traffic_violations']

In [7]:
# create session
session = Session(bind = eng)

### DATA Extraction Queries

In [8]:
# extract unique years
def getYears():
    res = pd.DataFrame(session.query(distinct(V.Year)).all(), columns = ['Year'])
    res['Year'] = res['Year'].astype(str)
    return res

getYears()

   Year
0  2012
1  2013
2  2014
3  2015
4  2016

In [9]:
# extract uniq Months
def getMonths():
    res = pd.DataFrame(session.query(distinct(V.Month)).all(), columns = ['Month'])
    return res

#getMonths()

In [10]:
# extract uniq Qtr
def getQtrs():
    res = pd.DataFrame(session.query(distinct(V.Qtr)).all(), columns = ['Qtr'])
    return res

#getQtrs()

In [11]:
# extract uniq SubAgency and Police District
def getPoliceDist():
    res = pd.DataFrame(session.query(V.SubAgency,V.PoliceDistrictID).distinct().all(), columns = ['SubAgency','PoliceDistrictID'])
    return res

# getPoliceDist()

In [12]:
# extract uniq ViolaitonCategory
def getVioCat():
    res = pd.DataFrame(session.query(distinct(V.ViolationCategory)).all(), columns = ['ViolationCategory'])
    return res

# getVioCat()

In [13]:
# extract uniq ViolationType
def getVioType():
    res = pd.DataFrame(session.query(distinct(V.ViolationType)).all(), columns = ['ViolationType'])
    return res

# getVioType()

In [14]:
# extract uniq Vehicle Grp
def getVehGrp():
    res = pd.DataFrame(session.query(distinct(V.VehicleGroup)).all(), columns = ['VehicleGroup'])
    return res

# getVehGrp()

In [15]:
def summarize_YR_QTR():
    res = pd.DataFrame(session.query(V.Year, V.Qtr, func.sum(V.ViolationCount)).\
            group_by(V.Qtr).group_by(V.Year).all(), columns = ['Year', 'Qtr','Total_ViolationCount'])
    return res

# summarize_YR_QTR()

In [28]:
# extract violation count by year and qtr
def violation_YOY_Change():
    df = summarize_YR_QTR()
    df_yoy = pd.pivot_table(df, values = "Total_ViolationCount", index = ['Year'], columns = ["Qtr"], aggfunc = np.sum)
    #caclculate year on year change
    df_yoy = df_yoy.pct_change()
    # drop na
    df_yoy = df_yoy.dropna(how = "any")    
    
    # reshape to normal dataframe strcuture
    df_yoy = pd.DataFrame(df_yoy.unstack())
    df_yoy.rename(columns = {0: 'YOY_Change_PCT'}, inplace = True)
    df_yoy.reset_index(inplace = True)
    
    #
    
    #merge total violations and yoy df for final df
    df_final = pd.merge(df, df_yoy, on = ['Year','Qtr'])
    
    #convert YOY to % and round off to two digits
    df_final.YOY_Change_PCT = (df_final.YOY_Change_PCT * 100).apply(round, 2)
    
    
    return df_final
    
#     
# violation_YOY_Change()

    Year  Qtr  Total_ViolationCount  YOY_Change_PCT
0   2013    1                 29480              27
1   2014    1                 34673              18
2   2015    1                 36555               5
3   2016    1                 39279               7
4   2013    2                 32007              12
5   2014    2                 40661              27
6   2015    2                 41111               1
7   2016    2                 40576              -1
8   2013    3                 35095              36
9   2014    3                 37998               8
10  2015    3                 41299               9
11  2016    3                 36306             -12
12  2013    4                 35203              24
13  2014    4                 37381               6
14  2015    4                 39330               5
15  2016    4                 33569             -15

In [30]:
# extract violation count by police dist, year and qtr
def dist_Contrib_YOY():
    res = pd.DataFrame(session.query(V.SubAgency, V.Year, V.Qtr, func.sum(V.ViolationCount)).\
            group_by(V.SubAgency).group_by(V.Qtr).group_by(V.Year).all(), \
                       columns = ['SubAgency','Year', 'Qtr','Total_ViolationCount'])
    
    #   reshape result to calculate diff between Qtrs
    df_diff = pd.pivot_table(res, values = "Total_ViolationCount", index = ['SubAgency','Qtr'], columns = ['Year'])
    #calculate difference
    df_diff = df_diff.diff(axis = 1)
    
    # unstack to remove multilevel index
    d = df_diff.unstack().unstack().reset_index()
    
    #drop NAN and reset index
    d.dropna(how = "any", inplace = True)
    d.reset_index()
    
    # extract the data for total values
    df_tot = summarize_YR_QTR()
    
    # iterate to calculat the Contribution %
    df_result = []
    for index, row in d.iterrows():
        pct = (row[0]/(df_tot[(df_tot['Year'] == row.Year-1) & (df_tot.Qtr == row.Qtr)]['Total_ViolationCount'])).iloc[0]    
        df_result.append({
            'Year': row.Year,
            'Qtr':row.Qtr,
            'SubAgency':row.SubAgency,
            'Contrib_pct':pct
        })
        
        
    # merge data for violations by district/qtr/year with contribution pct
    df_final = pd.merge(res, pd.DataFrame(df_result), on = ['SubAgency','Qtr','Year'])
    
    # merge data for violations by district/qtr/year with contribution pct
    df_final = pd.merge(res, pd.DataFrame(df_result), on = ['SubAgency','Qtr','Year'])
    df_YOY = violation_YOY_Change()
    df_final1 = pd.merge(df_final, df_YOY, on = ['Qtr','Year'])
    
#     convert the YOY Change and countrib to % and round off

    df_final1.Contrib_pct = (df_final1.Contrib_pct * 100).apply(round, 2)
    return df_final1
    
    
dist_Contrib_YOY()

,SubAgency,Year,Qtr,Total_ViolationCount_x,Contrib_pct,Total_ViolationCount_y,YOY_Change_PCT
0,"1st district, Rockville",2013,1,4258,4,29480,27
1,"2nd district, Bethesda",2013,1,4367,-1,29480,27
2,"3rd district, Silver Spring",2013,1,6783,12,29480,27
3,"4th district, Wheaton",2013,1,6177,6,29480,27
4,"5th district, Germantown",2013,1,2781,1,29480,27
5,"6th district, Gaithersburg / Montgomery Village",2013,1,4453,3,29480,27
6,Headquarters and Special Operations,2013,1,661,1,29480,27
7,"1st district, Rockville",2014,1,4024,-1,34673,18
8,"2nd district, Bethesda",2014,1,5223,3,34673,18
9,"3rd district, Silver Spring",2014,1,8554,6,34673,18
10,"4th district, Wheaton",2014,1,7406,4,34673,18
11,"5th district, Germantown",2014,1,3922,4,34673,18
12,"6th district, Gaithersburg / Montgomery Village",2014,1,4121,-1,34673,18
13,Headquarters and Special Operations,2014,1,1423,3,34673,18
14,"1st district, Rockville",2015,1,3911,0,36555,5
15,"2nd district, Bethesda",2015,1,5198,0,36555,5
16,"3rd district, Silver Spring",2015,1,7069,-4,36555,5
17,"4th district, Wheaton",2015,1,9382,6,36555,5
18,"5th district, Germantown",2015,1,5152,4,36555,5
19,"6th district, Gaithersburg / Montgomery Village",2015,1,4597,1,36555,5
20,Headquarters and Special Operations,2015,1,1246,-1,36555,5
21,"1st district, Rockville",2016,1,4000,0,39279,7
22,"2nd district, Bethesda",2016,1,5553,1,39279,7
23,"3rd district, Silver Spring",2016,1,8401,4,39279,7
24,"4th district, Wheaton",2016,1,9557,0,39279,7
25,"5th district, Germantown",2016,1,4869,-1,39279,7
26,"6th district, Gaithersburg / Montgomery Village",2016,1,5338,2,39279,7
27,Headquarters and Special Operations,2016,1,1561,1,39279,7
28,"1st district, Rockville",2013,2,3498,-3,32007,12
29,"2nd district, Bethesda",2013,2,4830,2,32007,12
...,...,...,...,...,...,...,...
82,"6th district, Gaithersburg / Montgomery Village",2016,3,4475,-2,36306,-12
83,Headquarters and Special Operations,2016,3,2134,0,36306,-12
84,"1st district, Rockville",2013,4,3962,0,35203,24
85,"2nd district, Bethesda",2013,4,4762,2,35203,24
86,"3rd district, Silver Spring",2013,4,8381,9,35203,24
87,"4th district, Wheaton",2013,4,7800,4,35203,24
88,"5th district, Germantown",2013,4,3859,3,35203,24
89,"6th district, Gaithersburg / Montgomery Village",2013,4,4706,2,35203,24
90,Headquarters and Special Operations,2013,4,1733,3,35203,24
91,"1st district, Rockville",2014,4,4273,1,37381,6
92,"2nd district, Bethesda",2014,4,5595,2,37381,6
93,"3rd district, Silver Spring",2014,4,7253,-3,37381,6
94,"4th district, Wheaton",2014,4,9667,5,37381,6
95,"5th district, Germantown",2014,4,4579,2,37381,6
96,"6th district, Gaithersburg / Montgomery Village",2014,4,4445,-1,37381,6
97,Headquarters and Special Operations,2014,4,1569,0,37381,6
98,"1st district, Rockville",2015,4,3949,-1,39330,5
99,"2nd district, Bethesda",2015,4,5581,0,39330,5
100,"3rd district, Silver Spring",2015,4,8253,3,39330,5
101,"4th district, Wheaton",2015,4,9038,-2,39330,5
102,"5th district, Germantown",2015,4,5266,2,39330,5
103,"6th district, Gaithersburg / Montgomery Village",2015,4,5292,2,39330,5
104,Headquarters and Special Operations,2015,4,1951,1,39330,5
105,"1st district, Rockville",2016,4,3982,0,33569,-15
106,"2nd district, Bethesda",2016,4,4545,-3,33569,-15
107,"3rd district, Silver Spring",2016,4,6360,-5,33569,-15
108,"4th district, Wheaton",2016,4,9284,1,33569,-15
109,"5th district, Germantown",2016,4,3892,-3,33569,-15
110,"6th district, Gaithersburg / Montgomery Village",2016,4,3979,-3,33569,-15
111,Headquarters and Special Operations,2016,4,1527,-1,33569,-15

### Data extraction for Dynamic charts

In [18]:
# function to extract Violation  by district
# parameters Year (All, specific Year), Category (All & specific category) and District (All and specific)
def filterData_main(yr = 0, cat = "all", dist = 0):
    
    _filter = [1==1, V.Qtr.in_([1,2,3,4])]
    
    if(yr != 0):
        _filter.append(V.Year.in_([yr]))
    
    if(cat != "all"):
        _filter.append(V.ViolationCategory.in_([cat]))
    
    if(dist != 0):
        _filter.append(V.PoliceDistrictID.in_([dist]))
    
    
    #list of items to select
    selList = [V.Year,V.Qtr,V.Month,V.SubAgency,V.PoliceDistrictID,V.ViolationType,V.ViolationCategory,
               V.VehicleGroup,V.PersonalInjury,V.PropertyDamage,V.Fatal,V.ContributedToAccident,V.ViolationCount]
    
    res = session.query(*selList).filter(*_filter).all()
                       
    df = pd.DataFrame(res, columns = ["Year","Qtr","Month","SubAgency","PoliceDistrictID","ViolationType",
                                      "ViolationCategory","VehicleGroup","PersonalInjury","PropertyDamage","Fatal",
                                      "ContributedToAccident","ViolationCount"])
    
    return df

In [19]:
filterData_main(2012, 'Distraction', 2)

,Year,Qtr,Month,SubAgency,PoliceDistrictID,ViolationType,ViolationCategory,VehicleGroup,PersonalInjury,PropertyDamage,Fatal,ContributedToAccident,ViolationCount
0,2012,1,1,"2nd district, Bethesda",2,Citation,Distraction,Automobile,0.0,0.0,0.0,0.0,6
1,2012,1,1,"2nd district, Bethesda",2,Citation,Distraction,Truck,0.0,0.0,0.0,0.0,1
2,2012,1,1,"2nd district, Bethesda",2,Warning,Distraction,Automobile,0.0,0.0,0.0,0.0,4
3,2012,1,1,"2nd district, Bethesda",2,Warning,Distraction,Truck,0.0,0.0,0.0,0.0,2
4,2012,1,2,"2nd district, Bethesda",2,Citation,Distraction,Automobile,0.0,0.0,0.0,0.0,13
5,2012,1,2,"2nd district, Bethesda",2,Citation,Distraction,Truck,0.0,0.0,0.0,0.0,1
6,2012,1,2,"2nd district, Bethesda",2,Warning,Distraction,Automobile,0.0,0.0,0.0,0.0,5
7,2012,1,2,"2nd district, Bethesda",2,Warning,Distraction,Truck,0.0,0.0,0.0,0.0,1
8,2012,1,3,"2nd district, Bethesda",2,Citation,Distraction,Automobile,0.0,0.0,0.0,0.0,11
9,2012,1,3,"2nd district, Bethesda",2,Citation,Distraction,Truck,0.0,0.0,0.0,0.0,2
10,2012,1,3,"2nd district, Bethesda",2,Warning,Distraction,Automobile,0.0,0.0,0.0,0.0,11
11,2012,1,3,"2nd district, Bethesda",2,Warning,Distraction,Truck,0.0,0.0,0.0,0.0,1
12,2012,2,4,"2nd district, Bethesda",2,Citation,Distraction,Automobile,0.0,0.0,0.0,0.0,10
13,2012,2,4,"2nd district, Bethesda",2,Warning,Distraction,Automobile,0.0,0.0,0.0,0.0,4
14,2012,2,5,"2nd district, Bethesda",2,Citation,Distraction,Automobile,0.0,2.0,0.0,1.0,14
15,2012,2,5,"2nd district, Bethesda",2,Citation,Distraction,Other,0.0,0.0,0.0,0.0,3
16,2012,2,5,"2nd district, Bethesda",2,Citation,Distraction,Truck,0.0,0.0,0.0,0.0,3
17,2012,2,5,"2nd district, Bethesda",2,Warning,Distraction,Automobile,0.0,0.0,0.0,0.0,12
18,2012,2,5,"2nd district, Bethesda",2,Warning,Distraction,Truck,0.0,0.0,0.0,0.0,6
19,2012,2,6,"2nd district, Bethesda",2,Citation,Distraction,Automobile,0.0,0.0,0.0,0.0,5
20,2012,2,6,"2nd district, Bethesda",2,Citation,Distraction,Truck,0.0,0.0,0.0,0.0,1
21,2012,2,6,"2nd district, Bethesda",2,Warning,Distraction,Automobile,0.0,0.0,0.0,0.0,3
22,2012,3,7,"2nd district, Bethesda",2,Citation,Distraction,Automobile,0.0,0.0,0.0,0.0,8
23,2012,3,7,"2nd district, Bethesda",2,Citation,Distraction,Truck,0.0,0.0,0.0,0.0,2
24,2012,3,7,"2nd district, Bethesda",2,Warning,Distraction,Automobile,0.0,0.0,0.0,0.0,4
25,2012,3,7,"2nd district, Bethesda",2,Warning,Distraction,Truck,0.0,0.0,0.0,0.0,1
26,2012,3,8,"2nd district, Bethesda",2,Citation,Distraction,Automobile,0.0,0.0,0.0,0.0,6
27,2012,3,8,"2nd district, Bethesda",2,Citation,Distraction,Other,0.0,0.0,0.0,0.0,3
28,2012,3,8,"2nd district, Bethesda",2,Warning,Distraction,Automobile,0.0,0.0,0.0,0.0,4
29,2012,3,8,"2nd district, Bethesda",2,Warning,Distraction,Other,0.0,0.0,0.0,0.0,1
30,2012,3,8,"2nd district, Bethesda",2,Warning,Distraction,Truck,0.0,0.0,0.0,0.0,1
31,2012,3,9,"2nd district, Bethesda",2,Citation,Distraction,Automobile,0.0,0.0,0.0,0.0,7
32,2012,3,9,"2nd district, Bethesda",2,Citation,Distraction,Other,0.0,0.0,0.0,0.0,2
33,2012,3,9,"2nd district, Bethesda",2,Citation,Distraction,Truck,0.0,0.0,0.0,0.0,2
34,2012,3,9,"2nd district, Bethesda",2,Warning,Distraction,Automobile,0.0,0.0,0.0,0.0,5
35,2012,4,10,"2nd district, Bethesda",2,Citation,Distraction,Automobile,0.0,0.0,0.0,0.0,8
36,2012,4,10,"2nd district, Bethesda",2,Citation,Distraction,Truck,0.0,0.0,0.0,0.0,1
37,2012,4,10,"2nd district, Bethesda",2,Warning,Distraction,Automobile,0.0,0.0,0.0,0.0,4
38,2012,4,10,"2nd district, Bethesda",2,Warning,Distraction,Truck,0.0,0.0,0.0,0.0,2
39,2012,4,11,"2nd district, Bethesda",2,Citation,Distraction,Automobile,0.0,0.0,0.0,0.0,2
40,2012,4,11,"2nd district, Bethesda",2,Citation,Distraction,Truck,0.0,0.0,0.0,0.0,1
41,2012,4,11,"2nd district, Bethesda",2,Warning,Distraction,Automobile,0.0,0.0,0.0,0.0,3
42,2012,4,11,"2nd district, Bethesda",2,Warning,Distraction,Truck,0.0,0.0,0.0,0.0,1
43,2012,4,12,"2nd district, Bethesda",2,Citation,Distraction,Automobile,0.0,0.0,0.0,0.0,4
44,2012,4,12,"2nd district, Bethesda",2,Citation,Distraction,Truck,0.0,0.0,0.0,0.0,1
45,2012,4,12,"2nd district, Bethesda",2,Warning,Distraction,Automobile,0.0,0.0,0.0,0.0,4

In [20]:
def getViolation_ByDist(yr, cat, dist):
    """ FUNCTION: getViolation_ByDist """
    """ desc : extract violation count by district and other filters as given by user (Year, Category and District) % """
    """ return DataFrame with SubAgency, Police District, Total Violations """
    
    df_all = filterData_main(yr, cat, dist)
    
    if(dist != 0):
        if(yr == 0):
            df_all = df_all[['Year','SubAgency','PoliceDistrictID','ViolationCount']].groupby(['Year','SubAgency','PoliceDistrictID'], as_index = False).agg(np.sum)
            df_all.columns = ['XValue','SubAgency','PoliceDistrictID','YValue']
        else:
            df_all = df_all[['Qtr','SubAgency','PoliceDistrictID','ViolationCount']].groupby(['Qtr','SubAgency','PoliceDistrictID'], as_index = False).agg(np.sum)
            df_all.columns = ['XValue','SubAgency','PoliceDistrictID','YValue']
    else:
        
        df_all = df_all[['SubAgency','PoliceDistrictID','ViolationCount']].groupby(['SubAgency','PoliceDistrictID'], as_index = False).agg(np.sum)
        df_all.columns = ['SubAgency','XValue','YValue']
    
#     df_all.reset_index(inplace = True)
    
    return df_all

getViolation_ByDist(0,"all",0)

                                         SubAgency  XValue  YValue
0                          1st district, Rockville       1   85385
1                           2nd district, Bethesda       2  101444
2                      3rd district, Silver Spring       3  143792
3                            4th district, Wheaton       4  160637
4                         5th district, Germantown       5   80363
5  6th district, Gaithersburg / Montgomery Village       6   96047
6              Headquarters and Special Operations       8   28750

In [21]:
def getViolation_ByCat(yr, cat, dist):
    """ FUNCTION: getViolation_ByCat """
    """ desc : extract violation count by Category and other filters as given by user (Year, Category and District) % """
    """ return DataFrame with ViolationCategory, Total Violations """
    
    df_all = filterData_main(yr, cat, dist)
    
    df_all = df_all[['ViolationCategory','ViolationCount']].\
                groupby(['ViolationCategory']).agg(np.sum)
    
    df_all.reset_index(inplace = True)
    
    return df_all

# getViolation_ByCat(0,"all",0)

In [22]:
def getViolation_ByType(yr, cat, dist):
    """ FUNCTION: getViolation_ByType """
    """ desc : extract violation count by Violation Type and other filters as given by user (Year, Category and District) % """
    """ return DataFrame with ViolationType, Total Violations """
    
    df_all = filterData_main(yr, cat, dist)
    
    df_all = df_all[['ViolationType','ViolationCount']].\
                groupby(['ViolationType']).agg(np.sum)
    
    df_all.reset_index(inplace = True)
    
    return df_all

getViolation_ByType(0,"all",0)

  ViolationType  ViolationCount
0      Citation          359997
1         ESERO           31120
2          SERO             832
3       Warning          304469

In [23]:
def getViolation_Impact(yr, cat, dist):
    """ FUNCTION: getViolation_Impact """
    """ desc : extract Impact of violation ie., PersonalInjury, PropDamage, Fatality and Accident"""
    """ return DataFrame with Impact of violation variables, Count of violation for  each variable and Total Violations """
    
    df_all = filterData_main(yr, cat, dist)
    
    V.Year,V.Qtr,V.Month,V.SubAgency,V.PoliceDistrictID,V.ViolationType,V.ViolationCategory,
               V.VehicleGroup,V.PersonalInjury,V.PropertyDamage,V.Fatal,V.ContributedToAccident,V.ViolationCount
        
    df_all = df_all[['PersonalInjury','PropDamage','ViolationCount']].\
                groupby(['ViolationType']).agg(np.sum)
    
    df_all.reset_index(inplace = True)
    
    return df_all

getViolation_ByType(0,"all",0)

IndentationError: unexpected indent (<ipython-input-23-a5a3a9271bfb>, line 9)