In [1]:
# Import all dependencies
import pandas as pd
import numpy as np

#SQLAlchemy libraries
import sqlite3
from sqlalchemy import create_engine # library to create the connection between DB and Python


# Datetime libraries
from datetime import datetime as dt, timedelta

# library to read data from zipfile
from zipfile import ZipFile as ZF
import os

# libraries to read json
import json
import requests
from pandas.io.json import json_normalize

In [19]:
# Declare global variables
dbPath = "trafficViolations/static/db"

dbName = "trafficViolations.sqlite"

importDir = "rawdata"
importFile = "traffic-violations-in-usa.zip"

#columns name (after it is read onto pandas)
df_col_names = ['DateOfStop', 'TimeOfStop', 'Agency', 'SubAgency', 'Description',
       'Location', 'Latitude', 'Longitude', 'Accident', 'Belts',
       'PersonalInjury', 'PropertyDamage', 'Fatal', 'CommercialLicense',
       'HAZMAT', 'CommercialVehicle', 'Alcohol', 'WorkZone', 'State',
       'VehicleType', 'Year', 'Make', 'Model', 'Color', 'ViolationType',
       'Charge', 'Article', 'ContributedToAccident', 'Race', 'Gender',
       'DriverCity', 'DriverState', 'DLState', 'ArrestType',
       'Geolocation']

violationCat = {"Impaired" : ["ALCOHOL","DRUGS","ALCO"],
                "Offense" : ["REGISTRATION","LICENSE","INSURANCE","PLATE","REG.PLATE"],
                "Safety":["UNSAFE","SEATBELT","HELMET","EQUIP","EQUIPMENT","WINDSHIELD","MIRRORS","BRAKE","INADEQUATE,INOPERATIVE","OPERATING"],
                "Violation":["SPEEDING","SPEED","STOP","PARKING","FAILURE","ELLUDE,LAMP,LAMPS","DEVICE","SIGNAL","LIGHT","LIGHTS","AVOIDING","AVOID","INTERSECTION"],
                "Distraction":["HANDHELD","MOBILE","ELECTRONIC","VIDEO","EARPLUGS","SOUND","TEXT","MSG."]
                }

vehicleGrp = {
    "Automobile":["Automobile","Limousine","Station Wagon"],
"Truck":["Light Duty Truck","Heavy Duty Truck"],
"Motorcyle":["Motorcycle","Moped"],
"Other":["Recreational Vehicle","Unknown","Commercial Rig","Camper"],
"Bus":["Transit Bus","School Bus","Cross Country Bus"],
"FarmVehicle":["Farm Vehicle","Farm Equipment"],
"Trailer":["Utility Trailer","Mobile Home","Tandem Trailer","Travel/Home Trailer","Boat Trailer"],
"RMS":["Fire Vehicle","Ambulance","Police Vehicle","Police(Emerg)","Ambulance(Emerg)","Ambulance(Non-Emerg)","Police(Non-Emerg)","Fire(Non-Emerg)","Fire(Emerg)"]
}

mnthToQtr = {1:1,2:1,3:1,4:2,5:2,6:2,7:3,8:3,9:3,10:4,11:4,12:4}

# zipCode JSON file URL
zipCd_URL = "https://data.montgomerycountymd.gov/resource/mmib-2cgz.json"

#Police District JSON link
police_dist_URL = "https://data.montgomerycountymd.gov/resource/vxy6-ve2e.json"

In [8]:
################ Global Helper Functions ###################################
# Function to derive Violation category based on description
# ensure violationCat dict is declared as global variable
def assignViolationCat(desc):
    for key,value in violationCat.items():
    #     print(value)
        if any(v in desc for v in value):
            return key
    else:
        return "Other"

def getPoliceDistrict(str):
    return(str if(str != "H") else "8")

def assignVehGrp(vehType):
    for key,value in vehicleGrp.items():
    #     print(value)
        if any(v in vehType for v in value):
            return key
    else:
        return "Other"

### Read csv data file and import into sqlite

In [9]:
# Read accident data from all the zip files
violationsDF = pd.concat(\
    [pd.read_csv(ZF(os.path.join(importDir,importFile)).open("Traffic_Violations.csv"), low_memory=False, header = 0, names = df_col_names) \
     for file in os.listdir(importDir) \
     if file.endswith("zip")], \
        ignore_index = True)

In [10]:
violationsDF.head(2)

,DateOfStop,TimeOfStop,Agency,SubAgency,Description,Location,Latitude,Longitude,Accident,Belts,...,Charge,Article,ContributedToAccident,Race,Gender,DriverCity,DriverState,DLState,ArrestType,Geolocation
0,09/24/2013,17:11:00,MCP,"3rd district, Silver Spring",DRIVING VEHICLE ON HIGHWAY WITH SUSPENDED REGI...,8804 FLOWER AVE,NaN,NaN,No,No,...,13-401(h),Transportation Article,No,BLACK,M,TAKOMA PARK,MD,MD,A - Marked Patrol,NaN
1,12/20/2012,00:41:00,MCP,"2nd district, Bethesda",DRIVING WHILE IMPAIRED BY ALCOHOL,NORFOLK AVE / ST ELMO AVE,38.983578,-77.093105,No,No,...,21-902(b1),Transportation Article,No,WHITE,M,DERWOOD,MD,MD,A - Marked Patrol,"(38.9835782, -77.09310515)"

In [11]:
violationsDF.columns

Index(['DateOfStop', 'TimeOfStop', 'Agency', 'SubAgency', 'Description',
       'Location', 'Latitude', 'Longitude', 'Accident', 'Belts',
       'PersonalInjury', 'PropertyDamage', 'Fatal', 'CommercialLicense',
       'HAZMAT', 'CommercialVehicle', 'Alcohol', 'WorkZone', 'State',
       'VehicleType', 'Year', 'Make', 'Model', 'Color', 'ViolationType',
       'Charge', 'Article', 'ContributedToAccident', 'Race', 'Gender',
       'DriverCity', 'DriverState', 'DLState', 'ArrestType', 'Geolocation'],
      dtype='object')

In [12]:
dropCols = ["TimeOfStop","Agency","Location","Latitude","Longitude","Accident",'Belts',"CommercialLicense",\
            "HAZMAT",'CommercialVehicle', 'Alcohol', 'WorkZone',"State","Year","Make","Model","Color","Charge",\
            "Article","Race",'Gender',"DriverCity","DLState","ArrestType",'Geolocation']

violationsDF.drop(dropCols, axis = 1, inplace = True)
violationsDF.columns

Index(['DateOfStop', 'SubAgency', 'Description', 'PersonalInjury',
       'PropertyDamage', 'Fatal', 'VehicleType', 'ViolationType',
       'ContributedToAccident', 'DriverState'],
      dtype='object')

In [13]:
violationsDF["DateOfStop"].count()

1018634

In [14]:
# clean the data
# drop nas
violationsDF = violationsDF.dropna(how = "any")
violationsDF["DateOfStop"].count()

1018614

In [15]:
dup_violations = violationsDF[violationsDF.duplicated()]
violationsDF.drop_duplicates(inplace = True)
violationsDF.duplicated().sum()

0

In [16]:
#convert yes and no values to boolean (0, 1)
factorCols = ['PersonalInjury', 'PropertyDamage', 'Fatal','ContributedToAccident']

for f in factorCols:
    violationsDF[f] = violationsDF[f].map({"Yes" : True, "No" : False})

violationsDF.head(2)

,DateOfStop,SubAgency,Description,PersonalInjury,PropertyDamage,Fatal,VehicleType,ViolationType,ContributedToAccident,DriverState
0,09/24/2013,"3rd district, Silver Spring",DRIVING VEHICLE ON HIGHWAY WITH SUSPENDED REGI...,False,False,False,02 - Automobile,Citation,False,MD
1,12/20/2012,"2nd district, Bethesda",DRIVING WHILE IMPAIRED BY ALCOHOL,False,False,False,02 - Automobile,Citation,False,MD

In [17]:
#convert Date of Stop and time of stop as Datatime objects
violationsDF['DateOfStop'] = violationsDF['DateOfStop'].map(lambda r: dt.strptime(r, "%m/%d/%Y"))

In [20]:
violationsDF['Year'] = violationsDF['DateOfStop'].apply(lambda r: r.year)
violationsDF['Month'] = violationsDF['DateOfStop'].apply(lambda r: r.month)
violationsDF['Qtr'] = violationsDF['Month'].apply(lambda r : mnthToQtr[r])

In [21]:
violationsDF['ViolationCategory'] = violationsDF.Description.map(lambda r: assignViolationCat(str(r)))
violationsDF.ViolationCategory.unique()

array(['Offense', 'Impaired', 'Violation', 'Distraction', 'Safety',
       'Other'], dtype=object)

In [22]:
violationsDF.head(2)

,DateOfStop,SubAgency,Description,PersonalInjury,PropertyDamage,Fatal,VehicleType,ViolationType,ContributedToAccident,DriverState,Year,Month,Qtr,ViolationCategory
0,2013-09-24,"3rd district, Silver Spring",DRIVING VEHICLE ON HIGHWAY WITH SUSPENDED REGI...,False,False,False,02 - Automobile,Citation,False,MD,2013,9,3,Offense
1,2012-12-20,"2nd district, Bethesda",DRIVING WHILE IMPAIRED BY ALCOHOL,False,False,False,02 - Automobile,Citation,False,MD,2012,12,4,Impaired

In [23]:
# Add column for Police District based on SubAgency for GeoJSON mapping
violationsDF['PoliceDistrictID'] = violationsDF.SubAgency.map(lambda r : getPoliceDistrict(r[0]))
violationsDF.PoliceDistrictID = violationsDF.PoliceDistrictID.astype(int)

In [24]:
violationsDF.dtypes

DateOfStop               datetime64[ns]
SubAgency                        object
Description                      object
PersonalInjury                     bool
PropertyDamage                     bool
Fatal                              bool
VehicleType                      object
ViolationType                    object
ContributedToAccident              bool
DriverState                      object
Year                              int64
Month                             int64
Qtr                               int64
ViolationCategory                object
PoliceDistrictID                  int32
dtype: object

In [25]:
violationsDF.columns

Index(['DateOfStop', 'SubAgency', 'Description', 'PersonalInjury',
       'PropertyDamage', 'Fatal', 'VehicleType', 'ViolationType',
       'ContributedToAccident', 'DriverState', 'Year', 'Month', 'Qtr',
       'ViolationCategory', 'PoliceDistrictID'],
      dtype='object')

In [26]:
# write out to CSV
violationsDF.to_csv(os.path.join(importDir,"Traffic_Violations_cleaned.csv"), index = False)

### Alternate method - without Geolocation

In [28]:
#Add a col called ViolationCount to sum the total violation while grouping
violationsDF['ViolationCount'] = 1

In [27]:
# Add vehicle group reducing the vehicletype grouping
violationsDF['VehicleGroup'] = violationsDF.VehicleType.map(lambda r : assignVehGrp(str(r)))
violationsDF['VehicleGroup'].head()

0    Automobile
1    Automobile
2    Automobile
3    Automobile
4    Automobile
Name: VehicleGroup, dtype: object

In [29]:
violationsDF.columns

Index(['DateOfStop', 'SubAgency', 'Description', 'PersonalInjury',
       'PropertyDamage', 'Fatal', 'VehicleType', 'ViolationType',
       'ContributedToAccident', 'DriverState', 'Year', 'Month', 'Qtr',
       'ViolationCategory', 'PoliceDistrictID', 'VehicleGroup',
       'ViolationCount'],
      dtype='object')

In [33]:
#Group the data by Year, Month, SubAgency, PoliceDistrictID, Gender, VehicleType, ViolationType,Driver State,
# Geolocation, Violationcategory
vDF_grp_alt = violationsDF[['SubAgency', 'PersonalInjury','PropertyDamage', 'Fatal', \
                        'VehicleGroup', 'ViolationType', 'ContributedToAccident', \
                         'Year', 'Month', 'Qtr','ViolationCategory','PoliceDistrictID', 'ViolationCount']].\
            groupby(['Year','Qtr','Month','SubAgency','PoliceDistrictID','ViolationType','ViolationCategory',\
                     'VehicleGroup']).agg(np.sum)

vDF_grp_alt.reset_index(inplace = True)

In [34]:
vDF_grp_alt.count()

Year                     17589
Qtr                      17589
Month                    17589
SubAgency                17589
PoliceDistrictID         17589
ViolationType            17589
ViolationCategory        17589
VehicleGroup             17589
PersonalInjury           17589
PropertyDamage           17589
Fatal                    17589
ContributedToAccident    17589
ViolationCount           17589
dtype: int64

In [35]:
vDF_grp_alt.to_csv(os.path.join(importDir, "Traffic_violations_grouped_new.csv"), index = False)

### Write to sqlite db

In [39]:
#Create the table with ID column as primary key -IMPORTANT ELSE AUTOMAP_BASE will not work
conn = sqlite3.connect(f'{dbPath}/{dbName}')
c = conn.cursor()

c.executescript('''
    PRAGMA foreign_keys=off;

    BEGIN TRANSACTION;
    
    /*create a new table with the same column names and types while
    defining a primary key for the desired column*/
    
    CREATE TABLE `traffic_violations` (
    `ID` BIGINT PRIMARY KEY NOT NULL,
     `Year` BIGINT,
     `Qtr` BIGINT,
     `Month` BIGINT,     
     `SubAgency` TEXT,
     `PoliceDistrictID` BIGINT,
     `ViolationType` TEXT,
     `ViolationCategory` TEXT,
     `VehicleGroup` TEXT,
     `PersonalInjury` FLOAT,
     `PropertyDamage` FLOAT,
     `Fatal` FLOAT,
     `ContributedToAccident` FLOAT,
     `ViolationCount` BIGINT
    );

    COMMIT TRANSACTION;

    PRAGMA foreign_keys=on;''')

#close out the connection
c.close()
conn.close()

In [40]:
engine = create_engine(f"sqlite:///{dbPath}/{dbName}", echo = True)
print(f"sqlite:///{dbPath}/{dbName}")

sqlite:///trafficViolations/static/db/trafficViolations.sqlite

In [41]:
vDF_grp_alt.to_sql("traffic_violations", engine, if_exists = "append", index = True, index_label = "ID")

2019-03-30 13:20:32,272 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-03-30 13:20:32,275 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 13:20:32,277 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-03-30 13:20:32,278 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 13:20:32,280 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("traffic_violations")
2019-03-30 13:20:32,281 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 13:20:32,302 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-03-30 13:20:32,674 INFO sqlalchemy.engine.base.Engine INSERT INTO traffic_violations ("ID", "Year", "Qtr", "Month", "SubAgency", "PoliceDistrictID", "ViolationType", "ViolationCategory", "VehicleGroup", "PersonalInjury", "PropertyDamage", "Fatal", "ContributedToAccident", "ViolationCount") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2019-03-30 13:20:32,676 INFO sqlalchemy.engine.base.Engine ((0, 2012, 1, 1, '1st district, Rockville', 1, 'Citation', 'Distraction', 'Automobile', 0.0, 0.0, 0.0, 0.0, 5), (1, 2012, 1, 1, '1st district, Rockville', 1, 'Citation', 'Distraction', 'Truck', 0.0, 0.0, 0.0, 0.0, 1), (2, 2012, 1, 1, '1st district, Rockville', 1, 'Citation', 'Impaired', 'Automobile', 1.0, 0.0, 0.0, 4.0, 33), (3, 2012, 1, 1, '1st district, Rockville', 1, 'Citation', 'Offense', 'Automobile', 1.0, 0.0, 0.0, 1.0, 140), (4, 2012, 1, 1, '1st district, Rockville', 1, 'Citation', 'Offense', 'Motorcyle', 0.0, 0.0, 0.0, 0.0, 1), (5, 2012, 1, 1, '1st district, Rockville', 1, 'Citation', 'Offense', 'Other', 0.0, 0.0, 0.0, 0.0, 12), (6, 2012, 1, 1, '1st district, Rockville', 1, 'Citation', 'Offense', 'Truck', 0.0, 0.0, 0.0, 0.0, 9), (7, 2012, 1, 1, '1st district, Rockville', 1, 'Citation', 'Other', 'Automobile', 3.0, 1.0, 0.0, 5.0, 51)  ... displaying 10 of 17589 total bound parameter sets ...  (17587, 2016, 4, 12, 'Headquarters and Special Operations', 8, 'Warning', 'Violation', 'Motorcyle', 0.0, 0.0, 0.0, 0.0, 1), (17588, 2016, 4, 12, 'Headquarters and Special Operations', 8, 'Warning', 'Violation', 'Truck', 0.0, 0.0, 0.0, 0.0, 2))
2019-03-30 13:20:32,791 INFO sqlalchemy.engine.base.Engine COMMIT